<div class="bigDiv">
    <div class="cardDiv">
        <div class="subscribeDiv">
            <p class="subscribe">Subscribe Now for Get Special Features!</p>
            <p class="text1">Let's subscribe with us and find the fun.</p>
        </div>
        <div>
            <button type="button" class="btn btn-danger button">Subscribe Now</button>
        </div>
    </div>
    <div class="footer">
        <div class="firstDiv">
            <svg-icon class="logo" src="../../../assets/Logo.svg"></svg-icon>
            <p class="myVpn"><b>MyVPN</b> is a private virtual network that has unique features and has high security.</p>
            <div class="socialMedia">
                <svg-icon class="icone" src="../../../assets/Facebook.svg"></svg-icon>
                <svg-icon class="icone" src="../../../assets/Twitter.svg"></svg-icon>
                <svg-icon class="icone" src="../../../assets/Instagram.svg"></svg-icon>

                <!-- <fa-icon class="divIcon" [icon]="faCheck"></fa-icon>
                <fa-icon class="divIcon" [icon]="faCheck"></fa-icon>
                <fa-icon class="divIcon" [icon]="faCheck"></fa-icon> -->
            </div>
            <p class="credits">©2021MyVPN</p>
        </div>
        <div class="threeCol">
            <div class="footerCol">
                <p><b>Product</b></p>
                <p>Download</p>
                <p>Pricing</p>
                <p>Locations</p>
                <p>Server</p>
                <p>Countries</p>
                <p>Blog</p>
            </div>
            <div class="footerCol">
                <p><b>Engage</b></p>
                <p>LaslesVPN ? </p>
                <p>FAQ</p>
                <p>Tutorials</p>
                <p>About Us</p>
                <p>Privacy Policy</p>
                <p>Terms of Service</p>
            </div>
            <div class="footerCol">
                <p><b>Earn Money</b></p>
                <p>Affiliate</p>
                <p>Become Partner</p>
            </div>
        </div>
    </div>
</div>