<div class="bigDiv">
    <div class="div1">
        <svg-icon class="image" src="../../../assets/man2.svg"></svg-icon>

    </div>
    <div class="container1">
        <div class="wraap">
            <div class="dive">
                <div>
                    <p class="firstText">We Provide Many Features You Can Use</p>
                </div>
                <div>
                    <p class="secondText">You can explore the features that we provide with fun and have their own
                        functions each feature.</p>
                </div>
            </div>
            <div class="dive2">
                <div class="twoComp">
                    <svg-icon class="svgIcon" src="../../../assets/Vector.svg"></svg-icon>
                    <p class="thirdText">Powerfull online protection.</p>
                </div>
                <div class="twoComp">
                    <svg-icon class="svgIcon" src="../../../assets/Vector.svg"></svg-icon>
                    <p>Internet without borders.</p>
                </div>
                <div class="twoComp">
                    <svg-icon class="svgIcon" src="../../../assets/Vector.svg"></svg-icon>
                    <p>Supercharged VPN</p>
                </div>
                <div class="twoComp">
                    <svg-icon class="svgIcon" src="../../../assets/Vector.svg"></svg-icon>
                    <p>No specific time limits.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="twoComponents">
    <p class="text1">Choose Your Plan</p>
    <p class="text2">Let's choose the package that is best for you and explore it happily and cheerfully.</p>
</div>