<div class="boxes">
    <div class="bigDiv">
        <svg-icon src="../../../assets/box.svg"></svg-icon>
        <p class="freePlan">Free Plan</p>
        <div class="fourText">
            <div class="iconText">
                <fa-icon class="divIcon" [icon]="faCheck"></fa-icon>
                <p class="littleText">Unlimited Bandwitch</p>
            </div>
            <div class="iconText">
                <fa-icon class="divIcon" [icon]="faCheck"></fa-icon>
                <p class="littleText">Encrypted Connection</p>
            </div>
            <div class="iconText">
                <fa-icon class="divIcon" [icon]="faCheck"></fa-icon>
                <p class="littleText">No Traffic Logs</p>
            </div>
            <div class="iconText">
                <fa-icon class="divIcon" [icon]="faCheck"></fa-icon>
                <p class="littleText">Works on All Devices</p>
            </div>
        </div>
        <div class="buttonDiv">
            <p class="freeText">Free</p>
            <button type="button" class="btn btn-outline-danger select">
                <p class="selectText">Select</p>
            </button>
        </div>
    </div>
    <div class="bigDiv">
        <svg-icon src="../../../assets/box.svg"></svg-icon>
        <p class="freePlan">Standard Plan</p>
        <div class="fourText">
            <div class="iconText">
                <fa-icon class="divIcon" [icon]="faCheck"></fa-icon>
                <p class="littleText">Unlimited Bandwitch</p>
            </div>
            <div class="iconText">
                <fa-icon class="divIcon" [icon]="faCheck"></fa-icon>
                <p class="littleText">Encrypted Connection</p>
            </div>
            <div class="iconText">
                <fa-icon class="divIcon" [icon]="faCheck"></fa-icon>
                <p class="littleText">No Traffic Logs</p>
            </div>
            <div class="iconText">
                <fa-icon class="divIcon" [icon]="faCheck"></fa-icon>
                <p class="littleText">Works on All Devices</p>
            </div>
            <div class="iconText">
                <fa-icon class="divIcon" [icon]="faCheck"></fa-icon>
                <p class="littleText">Connect Anyware</p>
            </div>
        </div>
        <div class="buttonDiv">
            <p class="freeText"><b>$9</b>/ mo</p>
            <button type="button" class="btn btn-outline-danger select">
                <p class="selectText">Select</p>
            </button>
        </div>
    </div>
    <div class="bigDiv borderColor">
        <svg-icon src="../../../assets/box.svg"></svg-icon>
        <p class="freePlan">Premium Plan</p>
        <div class="fourText">
            <div class="iconText">
                <fa-icon class="divIcon" [icon]="faCheck"></fa-icon>
                <p class="littleText">Unlimited Bandwitch</p>
            </div>
            <div class="iconText">
                <fa-icon class="divIcon" [icon]="faCheck"></fa-icon>
                <p class="littleText">Encrypted Connection</p>
            </div>
            <div class="iconText">
                <fa-icon class="divIcon" [icon]="faCheck"></fa-icon>
                <p class="littleText">No Traffic Logs</p>
            </div>
            <div class="iconText">
                <fa-icon class="divIcon" [icon]="faCheck"></fa-icon>
                <p class="littleText">Works on All Devices</p>
            </div>
            <div class="iconText">
                <fa-icon class="divIcon" [icon]="faCheck"></fa-icon>
                <p class="littleText">Connect Anyware</p>
            </div>
            <div class="iconText">
                <fa-icon class="divIcon" [icon]="faCheck"></fa-icon>
                <p class="littleText">Get New Features</p>
            </div>
        </div>
        <div class="buttonDiv">
            <p class="freeText"><b>$12</b>/ mo</p>
            <button type="button" class="btn btn-danger shadoww select">
                <p class="selectText">Select</p>
            </button>
        </div>
    </div>
</div>