<div class="bigDiv">
    <div class="bigContainer">
        <div class="container1">
            <p class="firstText">Want anything to be easy with MyVPN.</p>
            <p class="secondText">Provide a network for all your needs with ease and fun using MyVPN discover
                interesting features from us.</p>
            <button type="button" class="btn btn-danger button mb-lg-4">
                <div class="rubik-bold-white-16px">Get Started </div>
              </button>
        </div>
        <svg-icon class="image" src="../../../assets/man.svg"></svg-icon>
    </div>
    <div class="divTwo">
        <div class="threeCom">
            <div class="icon">
                <fa-icon class="icon" [icon]="man"></fa-icon>
            </div>
            <div class="location">
                <p class="rubik-bold-black-pearl-25px" style="margin-bottom: 0px;"><b>90+</b></p>
                <p class="rubik-normal-scarpa-flow-20px" style="color:#4F5665;">Users</p>
            </div>
        </div>
        <div class="devider" style="width: 1px; height: 125px; background-color: #EEEFF2;"></div>
        <div class="threeCom">
            <div class="icon">
                <fa-icon class="icon" [icon]="man"></fa-icon>
            </div>
            <div class="location">
                <p style="font-weight: bold; margin-bottom: 0px;"><b>30+</b></p>
                <p style="color:#4F5665;">Locations</p>
            </div>
        </div>
        <div  class="devider"  style="width: 1px; height: 125px; background-color: #EEEFF2;"></div>
        <div class="threeCom">
                <div class="icon">
                    <fa-icon class="icon" [icon]="man"></fa-icon>
            </div>
            <div class="location">
                <p style="font-weight: bold;margin-bottom: 0px;"><b>50+</b></p>
                <p style="color:#4F5665;">Servers</p>
            </div>
        </div>
    </div>
</div>